/* .App {
  height:100vh;
  width:100vw;
  background: #D3CCE3;  
  background: -webkit-linear-gradient(to right, #65558d, #b2b1b6);  
  background: linear-gradient(to right, #935350, #7b7b7c);
  display: flexbox;
  flex-direction: column;
} */

.App {
  height:100vh;
  width:100vw;
  background: -webkit-linear-gradient(to right, grey, #898787);
  display: flex;
}